<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.renren.com/app.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>RenRen Large Image</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>Input RenRen Small Image</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.renren.txrenreninhouse</string>
				<key>bundle-version</key>
				<string>6.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>Input RenRen SubTitle</key>
				<string>RenRen SubTitle</string>
				<key>title</key>
				<string>Input RenRen Title</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
